<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javagreenS.dao.ShopDAO">
	<select id="getProduct2" resultType="String">
    select product2 from goods2 where product1 = #{product1};
  </select>
	<select id="getProduct3" resultType="String">
    select product3 from goods3 where product2 = #{product2};
  </select>
  <select id="getProduct" resultType="com.spring.javagreenS.vo.ProductVO">
    select * from product where product = #{product};
  </select>
  
  <insert id="getProductInput">
  	insert into product values (default, #{vo.product1}, #{vo.product2}, #{vo.product3}, #{vo.product}, #{vo.price}, #{vo.title},#{vo.content});
  </insert>
  
  <!-- 
  <select id="getProductList" resultType="com.spring.javagreenS.vo.ProductVO">
    select * from product order by idx;
  </select>
   -->
   <select id="getProductList" resultType="com.spring.javagreenS.vo.ProductVO">
    <if test="product == ''">
      select * from product order by product;
    </if>
    <if test="product != ''">
      select * from product where product like concat('%',#{product},'%') order by product;
    </if>
  </select>
</mapper>