<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javagreenS.dao.StudyDAO">
  <select id="getOperator" resultType="com.spring.javagreenS.vo.OperatorVO">
    select * from operator2 where oid = #{oid};
  </select>
  
  <select id="getOperatorHashKey" resultType="String">
    select hashKey from operatorHashTable2 where idx = #{keyIdx};
  </select>
  
  <select id="getOperatorList" resultType="com.spring.javagreenS.vo.OperatorVO">
    select * from operator2 order by oid;
  </select>
  
  <select id="getOperatorVos" resultType="com.spring.javagreenS.vo.OperatorVO">
    select * from operator2 where oid like concat('%',#{oid},'%') order by oid;
  </select>
  
  <insert id="setOperatorInputOk">
    insert into operator2 values (#{vo.oid}, #{vo.pwd}, #{vo.name}, #{vo.keyIdx});
  </insert>
  
  <delete id="setOperatorDelete">
    delete from operator2 where oid = #{oid};
  </delete>
  
</mapper>